{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'about/home.css' %}">
</head>
<body>
    <h3> First Name: Mahyar </h3>
    <h3> Last Name: Khodayari </h3>
    <h3> Birthday: 1391/03/13 OR 2012/07/03 (14 years old) </h3>
    <h3> Learning course: Maktabkhooneh.org Ali Bigdeli starter Django course </h3>
</body>
</html>